{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {% if artist is None %}
                Você ainda não criou o seu perfil
            <br>
                <a href="{% url 'artists-create' %}" class="btn btn-success">Criar perfil do artista</a>
            {% else %}
                {{ artist.name }}<br>
                {{ artist.photo }}<br>
                {{ artist.press_release }}<br>
                <a href="{% url 'artists-update' artist.pk %}" class="btn btn-success">Alterar perfil do artista</a>
            {% endif %}
        </div>
    </div>
{% endblock %}